<mat-card class="card-about">
  <mat-card-header>
    <mat-card-title class="card-title">About ngBlog</mat-card-title>
    <mat-card-subtitle class="card-subtitle">Version 0.0.1</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare fermentum lobortis. Suspendisse consequat libero sed lorem commodo, non mattis lorem viverra. Vestibulum at gravida urna, quis consequat est. Vivamus suscipit vestibulum ipsum sit amet viverra. Nullam eget ante mauris. Donec ipsum dolor, luctus vitae tellus at, hendrerit varius enim. Ut maximus sollicitudin dignissim. Duis interdum est at molestie suscipit. Praesent dui nisi, tempus et tempus vitae, sagittis eu quam. Fusce lobortis dui eu nulla lobortis, nec dictum felis dignissim.
    </p>
    <p>
      Mauris interdum neque sed lorem tristique, eu facilisis massa elementum. Etiam eu ornare mi. Morbi commodo dui orci, a porttitor elit malesuada nec. Sed vel turpis nisl. Vestibulum laoreet eleifend lorem sit amet interdum. Vivamus sed velit mattis, auctor nibh a, ultrices dolor. Cras vitae nisi fringilla, feugiat diam in, pellentesque arcu. Etiam sit amet orci nec lacus lobortis lobortis. Vestibulum sollicitudin metus risus, quis vulputate lacus pretium at. Duis volutpat convallis dolor a finibus. Cras eu erat pharetra, imperdiet tortor a, pellentesque est. Nullam turpis justo, scelerisque et mauris et, feugiat cursus sapien. Vestibulum sagittis elit id justo pharetra, vel molestie elit dictum. Fusce eu dui et justo consequat suscipit. Nunc commodo et arcu quis posuere.
    </p>    
    <p>
      Mauris pretium massa sit amet felis auctor blandit. Nullam mollis pretium varius. Proin non aliquam ligula. Donec non suscipit quam. Maecenas vitae aliquet lectus, eu placerat massa. Donec lacus erat, aliquet quis interdum sit amet, fermentum sit amet lectus. Pellentesque pulvinar, ante consequat placerat condimentum, nisi elit cursus felis, nec pretium elit libero ut dui. Cras molestie felis sit amet ultrices pretium. Aliquam sed cursus nisl. Integer eget metus at odio luctus feugiat. Aliquam vitae mauris velit. Integer vitae commodo dui. Duis molestie ultricies nisl vitae efficitur. Sed blandit justo quis consectetur aliquet.
    </p>
  </mat-card-content>
</mat-card>